.main {
    min-height: 100vh;
    background-color: #f8fafc;
    /* slate-50 */
    color: #0f172a;
    /* slate-900 */
    font-family: var(--font-heebo), sans-serif;
    padding-bottom: 5rem;
}

.formPage {
    min-height: 100vh;
    background-color: #f8fafc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}